:root {
    --color1: #1e3a4b;
    --color2: rgba(68, 67, 67, 0.816);
    --color3: rgba(59, 69, 69, 0.669);
    --color4: rgba(0, 0, 0, 0.457);
    --color5: #e22030;
  }

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-color: #f0e9e9;
}

.whole{
    width: 50%;
    margin: auto;
    margin-top: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: ease-out 0.3s;
    background: linear-gradient(250deg, grey 0%, white 35%, grey 75%);
}

#test{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 25px 25px;
    color: #520000;
    font-weight: 900;
    font-size: 1em;
    background: linear-gradient(145deg, #ff8484 0%, var(--color5) 5%, #520000 95%);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    color: #ffffffe9;
    font-size: 1.2em;
}

#test:active{
    animation: translate-down 0.2s ease-out;
}

#testcontainer{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.585), -10px -10px 15px rgba(0, 0, 0, 0.585);
    background: linear-gradient(145deg, grey 0%, white 45%, grey 55%);
}

.thebutton{
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding-top: 25px;
    margin-bottom: 0;
}

.score{
    margin-top: 0;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

#span{
    font-size: 1.5em;
    background: var(--color4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    margin: 0;
}

#h1{
    font-size: 1.2em;
    margin-top: 50px;
    background: var(--color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

#h2{
    font-size: 1.5em;
    background: var(--color3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
    margin-top: 0;
}

@keyframes translate-down {
    0% {
        background: linear-gradient(145deg, #ff8484 0%, red 5%, #520000 95%);
    }
    50% {
        margin: 35px 35px;
        width: 180px;
        height: 180px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.585), -10px -10px 15px rgba(0, 0, 0, 0.585);
    }
    100% {
        background: linear-gradient(145deg, #ff8484 0%, red 5%, #520000 95%);
    }
}



        /* Responsive Design */
        @media (max-width: 768px) {
            body {
                font-size: 1.5em;
            }

            .whole {
                width: 90%;
                padding: 15px;
                height: 80%;
            }

            #span{
                margin-top: 20px;
                font-size: 2em;
            }

            #h1, #h2 {
                font-size: 1.2em;
            }
        }

        @media (max-width: 480px) {
            body {
                font-size: 1.2em;
            }

            .whole {
                width: 90%;
                padding: 15px;
                height: 80%;
            }

            #span{
                margin-top: 20px;
                font-size: 2em;
            }

            #h1, #h2 {
                font-size: 1.2em;
            }
        }